%%-*- mode: erlang -*-

{sub_dirs, ["rel"]}.
{erl_opts, [debug_info,
	    {parse_transform, lager_transform}]}.
{eunit_opts, [verbose,
	      {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.

{covertool_eunit, ".eunit/eunit.coverage.xml"}.
{covertool_prefix_len, 2}.

{deps, [{lager, ".*",
         {git, "git://github.com/basho/lager.git", "master"}},
        {erlando, ".*",
         {git, "git://github.com/reifyhealth/erlando.git", "master"}},
	{protobuffs, ".*", 
	 {git, "https://github.com/dizzyd/protobuffs.git", "master"}},
        {eqc, ".*",
         {git, "git://github.com/rpt/eqcmini.git", "master"}}]}.
